body{
  padding-top:80px;
  word-wrap:break-word;
  background-color:lightgoldenrodyellow;
  background-image: url("shoes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.container{
  text-align: center;
}

#logout{
  position: absolute;
  bottom: 0;
  width: 100%;
}

